Task completion Tracker.json
{
  "name": "Task completion Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 23
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE",
          "mode": "list",
          "cachedResultName": "TaskCompletionTracker_15rows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1876014919,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit#gid=1876014919"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -192
      ],
      "id": "8ddbf9dd-726e-484f-a646-18c2d4b5ccf2",
      "name": "Google Sheets Trigger",
      "executeOnce": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ZAJuoTKQua2ctox0",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80248672-ba19-4619-8872-80b1c104be24",
              "leftValue": "Status",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8036c9eb-5923-48e7-9416-70212a6aca12",
              "leftValue": "Notified",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -48
      ],
      "id": "7ff2e408-ef20-4ecd-883c-5442a02d72c3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE",
          "mode": "list",
          "cachedResultName": "TaskCompletionTracker_15rows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1876014919,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit#gid=1876014919"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notified": "=Yes",
            "TaskID": "={{ $json.TaskID }}",
            "Description": "={{ $json.Description }}",
            "ManagerEmail": "={{ $json.ManagerEmail }}",
            "Status": "={{ $json.Status }}",
            "Assignee": "={{ $json.Assignee }}",
            "row_number": 0
          },
          "matchingColumns": [
            "TaskID"
          ],
          "schema": [
            {
              "id": "TaskID",
              "displayName": "TaskID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ManagerEmail",
              "displayName": "ManagerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notified",
              "displayName": "Notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -192
      ],
      "id": "9296f641-9a3e-4fae-b842-bee1cbbad73c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "etnbPjtyURAQTOGS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE",
          "mode": "list",
          "cachedResultName": "TaskCompletionTracker_15rows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1876014919,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M2iziMaW-nqOlw4bghXweg1WZMJROtRyOpAiwzn-fgE/edit#gid=1876014919"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -48
      ],
      "id": "f9aafc62-9ce8-4071-b2db-574a63e5cb4b",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "etnbPjtyURAQTOGS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ayeshaashraf1566@gmail.com",
        "subject": "Task Completion update",
        "message": "=Hello {{ $json[\"ManagerName\"] || \"Manager\" }},\n\nThis is an automated notification to inform you that the following task has been marked as completed: \n\nTask: {{ $json.Description }}\n\nCompleted by: {{ $json[\"Assignee\"] }}\n\nDate of Completion: {{ $json[\"CompletionDate\"] || $now }} \nPlease review and acknowledge.  \n\nBest regards,  \n\nAutomated Task Tracker",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        -48
      ],
      "id": "bf44e4dc-22de-4691-8e6f-06370850abf1",
      "name": "Send a message",
      "webhookId": "f51b48f0-9da4-49b4-977d-e6320ec3d2f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "ch5Cj17xJFr4MPFF",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b056de5-b5dc-446b-a648-f12abc7aec2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56f16366906c64a911951fb893a675c39b5151855027ad46c278f4bb139716ff"
  },
  "id": "pevenImqDdsLwEU2",
  "tags": []
}